<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>
<body>

<div class = "container pt-5">
    <h1>
        Lista de tarefas
    </h1>

 <form th:action = "@{/savetask}" method="post">

    <label for="">Título</label>
    <input type="text" name="titulo">
    
    <label for="">Data</label>
    <input type="datetime-local" name="data">

    <label for="">Descrição</label>
    <input type="text" name="descricao">

    <input type="submit" value="cadastrar">

</form>
           
</div>
    
</body>
</html>